In [1]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [2]:
full_labels = pd.read_csv('Wastebags.csv')

In [3]:
full_labels.head()

  filename  width  height             class  xmin  ymin  xmax  ymax
0    0.jpg    640     480  Recyclable Waste   202     1   471   382
1    0.jpg    640     480   Mixed Recycling   180    28   432   409
2    0.jpg    640     480     General Waste   295    46   605   359
3    1.jpg    640     480  Recyclable Waste   200     2   472   382
4    1.jpg    640     480   Mixed Recycling   179    28   432   411

In [4]:
grouped = full_labels.groupby('filename')

In [5]:
grouped.apply(lambda x: len(x)).value_counts()

3    44
2     7
dtype: int64

### split each file into a group in a list

In [6]:
gb = full_labels.groupby('filename')

In [7]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [8]:
len(grouped_list)

51

In [9]:
train_index = np.random.choice(len(grouped_list), size=40, replace=False)
test_index = np.setdiff1d(list(range(50)), train_index)

In [10]:
len(train_index), len(test_index)

(40, 11)

In [11]:
len(test_index)

11

In [12]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [13]:
len(train), len(test)

(114, 32)

In [14]:
train.to_csv('Wastebagstrain.csv', index=None)
test.to_csv('Wastebagstest.csv', index=None)